<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1>Add Job</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${job.name}" />
        <span th:errors="${job.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="employer">Employer</label>
        <select name="employerId" >
            <option th:each="employer : ${employers}"
                    th:text="${employer.name}"
                    th:value="${employer.id}"></option>
        </select>



<!--        <select th:field="${job.employer.name}">-->
<!--&lt;!&ndash;            <select>&ndash;&gt;-->
<!--            <option th:each="e : ${employers}" th:value="${e}" th:text="${e}"/>-->
<!--        </select>-->
<!--        <a th:href="@{'/employers/add'}">Add Employers</a>-->
<!--    </div>-->

<!--    <ul th:each="skill : ${job.skills}">-->
<!--        <li>-->
<!--            <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>-->
<!--        </li>-->
<!--    </ul>-->

    <div class="form-group">
        <label th:for="skills">Skills</label>
        <th:block th:each="skill : ${skills}">
            <input type="checkbox" name="skills" th:value="${skill.id}">
            <label th:text="${skill.name}"></label>
        </th:block>
        <a th:href="@{'/skills/add'}">Add Skills</a>
    </div>

    <input type="submit" value="Add Job" />
</form>

<!--//<div class="container body-content">-->
    <div>
    <h2>Employers</h2>
    <ul>
        <li th:each="employer : ${employers}">
            <a th:href="@{'/employers/view/' + ${employer.id}}" th:text="${employer.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/employers/add'}">Add Employers</a>

</div>

</body>
</html>